*{
    padding: 0%;
    margin: 0%;
}


/* header */
.encabezado{
    background-color: #6EC1E4;
    color: white;
    
}

.titulo{
    grid-area: titulo;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2,5rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;

    
}

.navegador{
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;


}

.navegador li{
    list-style-type: none;
    text-decoration: none;
}
/* FIM header */



/* body */
main{
    background-color: rgb(182,227,212);
    padding: 1rem 1rem 1rem 1rem;
}


/* Imagens Index*/

.img1{
    display: flex;
    justify-content: center;
    padding: 1rem 1rem 1rem 1rem;
    
}

.img2{
    display: flex;
    justify-content: center;
    padding: 1rem 1rem 1rem 1rem;
}

.img1-1:hover {
    transform: scale(1.1);
}

.img1-1 {
    transition: all 2s;
}

.img2_2:hover{
    transform: scale(1.1);
}

.img2_2 {
    transition: all 2s;
}










/* footer */

footer{
    background-color: #6EC1E4;
}

footer .h3{
    justify-content: center;
}

.rrss{
    text-align: center;
}

footer .botones-redessociales {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 1rem 1rem 1rem 1rem;

}

footer .whatsapp {
    padding: 10px;
}

footer .tiktok {
    padding: 10px;
}

footer .instagram {
    padding: 10px;
}

/* FIM footer */




